.box {
    margin:150px auto;
    width: 400px;
    height: 350px;
    padding: 20px;
    background: #3f1b6d;
    text-align: center;
    vertical-align: middle;
    line-height: 140px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .content-box {
    box-sizing: content-box;
    /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
       Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
       Content box width: 160px
       Content box height: 80px */
  }