.box {
    margin: auto;
    width: 250px;
    height: 150px;
    padding: 20px;
    /* border: 8px solid red; */
    background: purple;
    text-align: center;
    vertical-align: middle;
    line-height: 95px;
    color: white;

  }
  
  .content-box {
    box-sizing: content-box;
    /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
       Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
       Content box width: 160px
       Content box height: 80px */
  }