.box{
    width: 200px;
    height: 100px;
    background: green;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.top_left{
    position: absolute;
    left: 0;
    top: 0;
}
.top_center{
    position: absolute;
    top: 50px; right: 50%;
    transform: translate(50%,-50%);
}
.top_right{
    position: absolute;
    top: 0;
    right: 0;
}
.left_center{
    position: absolute;
    top: 50%; left: 100px;
    transform: translate(-50%,-50%);
}
.right_center{
    position: absolute;
    top: 50%; right: 100px;
    transform: translate(50%,-50%);
}
.bottom_left{
    position: absolute;
    left: 0;
    bottom: 0;
}
.bottom_center{
    position: absolute;
    bottom: 50px; left: 50%;
    transform: translate(-50%,50%);
}
.bottom_right{
    position: absolute;
    right: 0;
    bottom: 0;
}
.center_center{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
} 
   
    .center_center .ctl{
        position: absolute;
        width: 100px;
        height: 50px;
        z-index: -99;
        line-height: 50px;
        left: -100px;
        top: -50px;
        background-color: orangered;
    }
    .center_center .ctr{
        position: absolute;
        width: 100px;
        height: 50px;
        z-index: -99;
        line-height: 50px;
        right: -100px;
        top: -50px;
        background-color: orangered;
    }
    .center_center .cbl{
        position: absolute;
        width: 100px;
        height: 50px;
        z-index: -99;
        line-height: 50px;
        left: -100px;
        bottom: -50px;
        background-color: orangered;
    }
    .center_center .cbr{
        position: absolute;
        width: 100px;
        height: 50px;
        z-index: -99;
        line-height: 50px;
        right: -100px;
        bottom: -50px;
        background-color: orangered;
    }

