.main{
    background-color: #ff9a00;
    width: 463px;
    height: 200px;
    position: relative;
    top: 50px;;
    left: 50%;
    transform: translate(-50%,0%);
    display: inline-block;
    float: left;
}
    .main .leftBox{
        position: absolute;
        background-color: #006400;
        width: 150px;
        height: 180px;
        border: 3px solid black;
        /* display: inline-block; */
    }
    .main .leftBox h4{
        color: white;
    }
    .main .rightBox{
        position: absolute;
        display: block;
        background-color: #5e17ff;
        width: 300px;
        height: 100px;
        border: 3px solid red;
        right: 0;
        top: 0;
    }
    .main .rightBox h4{
        color: white;
    }