*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

audio{
    display: none;
}
body{
    background-color: #c8fae1;
}
header{
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
}
div{
    color: black;
}

button {
    margin: 5px;
}

footer{
    text-align: center;
}

p{
    text-align: center;
    margin-top: 1.5rem;
}

.game-box{
    background-color: #fff;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 26rem;
    border: 2px solid rgb(75, 69, 69);
    border-radius: 5px;
}
.game_btn{
    width: 60rem;
}
.audio{
    position: absolute;
    background-color: transparent;
    border: none;
    transform: translate(-50%,-50%);
}
.audio >img{
    height: 2.5rem;
    width: 2.5rem;
}
.audio >img:hover{
    transform: scale(1.5);
    transition: 1s ease-in-out;
}

@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }

.game_hint{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.custom-btn {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}


/* 9 */
.btn {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
    color: #fff;
}
    .btn:after {
        position: absolute;
        content: " ";
        color: #fff;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1fd1f9;
        background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
        transition: all 0.3s ease;
    }
    .btn:hover {
        background: transparent;
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        color: #fff;
    }
    .btn:hover:after {
        -webkit-transform: scale(2) rotate(180deg);
        transform: scale(2) rotate(180deg);
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    }

/* ################ BUTTON - 25 ################ */
.btn-25 {
    width: 7rem;
    height: 7rem;
    margin-left: 25px;
    color: rgb(78, 66, 66);
    font-size: large;
}
.btn-25:hover {
    color: rgb(209, 107, 107);
}
/* ################ BUTTON - 50 ################ */
.btn-50 {
    width: 4rem;
    height: 4rem;
    margin-left: 15px;
    color: rgb(78, 66, 66);
    font-size: medium;
}
.btn-50:hover {
    color: rgb(209, 107, 107);
}

.life{
    width: 12rem;
    height: 3rem;
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-around;
}
.life .life_num{
    width: 3rem;
    height: 2rem;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
}
/* ################ NOTIFY ################ */
.text_notify{
    margin: 1rem;
    color: #fff;
}