*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

/* Set default li */
li{
    font-size: 14px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
button{
    color: white;
}

.wrapper{
    width: 100%;
}
.wrapper .banner{
    background:url('/images/Bird_bg.png');
    background-size: 100vw 1000px;
}
    /* ############ HEADER - HEADER ############# */
    .wrapper .header{
        width: 1200px;
        margin: auto;
    }
    .wrapper .header .header_top_taskbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        color: white;
    }
    .wrapper .header .header_top_taskbar .header_taskbar{
        width: 600px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: center; 
    }

    .wrapper .header .header_top_taskbar .header_taskbar .active{
        color: #fce38a;  
    }
    .wrapper .header .header_top_taskbar .header_taskbar .active::after{
        content: "";
        display: block;
        height: 3px;
        margin-top: 5px;
        background-image: url('/images/About_bottom.png');
    }
    /*#######---NAV---########### */
    .wrapper .header .header_nav{
        margin-top: 120px;
        text-align: center;
    }
    .wrapper .header .header_nav .nav_top{
        font-family: 'Kaushan Script', cursive;
        font-size: 72px;
        color:white;
    }
    .wrapper .header .header_nav .nav_title{
        font-family: 'Montserrat', sans-serif;
        font-size: 150px;
        text-align: center;
        font-weight: bold;
        line-height: 140px;
        color:white;
    }
    .wrapper .header .header_nav .nav_bottom_line{
        margin-top: 40px;
    }
    .wrapper .header .header_nav .nav_buttom_button .nav_button{
        height: 40px;
        width: 160px;
        margin-top: 40px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        border: 3px solid white;
        transition: all .5s ease;
        background-color : transparent;
    }
    .wrapper .header .header_nav .nav_buttom_button .nav_button:hover{
        color: #001F3F;
        background-color: #fff;
    }
    /* ############ HEADER - FOOTER ############# */
    .wrapper .header .header_footer{
        margin-top: 160px;
        display: flex;
        justify-content: space-between;
        height: 143px;
    }

    .wrapper .header .header_footer .intro_progress img::after{
        content: '';
        background-image:url('/images/Rectangle 4 copy.png') ;
        /* background-size: 70px 3px; */
    }
    .wrapper .header .header_footer .footer_progress ul{
        display: flex;
        align-items: flex-end;
        padding-top: 20px;
        color:white;
    }
        .wrapper .header .header_footer .footer_progress .number_tag{
            font-size: 25px;
            font-weight: bold;
        }
        .wrapper .header .header_footer .footer_progress .name_tag{
            font-size: 18px;
            padding-bottom: 2px;
            padding-left: 5px;
        }
/* ############ Main - ABOUT US ############# */

.wrapper .main{
    
}   
    .wrapper .main .background2 .facts{
        height: 750px;
        width: 1200px;
        margin: auto;
    }
        .wrapper .main .main_about_us .nav_top{
            margin-top: 90px;
            font-family: 'Kaushan Script', cursive;
            font-size: 24px;
            text-align: center;
        }
        .wrapper .main .main_about_us .nav_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
        }
        .wrapper .main .main_about_us .nav_bottom_line{
            margin-top: 30px;
            text-align: center;
        }
        .wrapper .main .main_about_us .nav_bottom_text{
            font-size: 15px;
            color: grey;
            text-align: center;
            margin-top: 45px;
        }
.wrapper .main .main_about_us_image{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}   
    .wrapper .main .main_about_us_image .image1{
        background-image: url('/images/Rectangle 6_background_lime_hover.png');  
        /* position: relative;   */
    }
    .wrapper .main .main_about_us_image .image1 img{
        position: relative;
        top: -10px;
        left: -10px;
    }
    .wrapper .main .main_about_us_image .image1 .User_hover{
        position: absolute;
        padding-top: 50px;
    }
    .wrapper .main .main_about_us_image .image1 .User_hover .user_logo{
        /* text-align: center; */
    }
    .wrapper .main .main_about_us_image .image1 .User_hover .text{

    }
/* ############ Main - FACTS ############# */
.wrapper .main .main_facts{
    background: url('/images/background_full_size_number.png');
}
    .wrapper .main .main_facts .facts{
        margin: auto;
        display: flex;
        width: 1200px;
        height: 270px;
    }
        .wrapper .main .main_facts .facts > li{
            width: 240px;
            border-left: 3px solid #b5eae0;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .wrapper .main .main_facts .facts .number{
            font-size: 72px;
            color: white;
            text-align: center;
            font-weight: bold;
        }
        .wrapper .main .main_facts .facts .texts{
            font-size: 14px;
            color: white;
            text-align: center;
        }
        .wrapper .main .main_facts .facts .last_box{
            border-right: 3px solid #b5eae0;
        }
/* ############ Main - SERVICE ############# */
.wrapper .main .main_service{
    height: 650px;
}
    .wrapper .main .main_service .main_work_with .nav_top{
        font-family: 'Kaushan Script';
        font-size: 24px;
        text-align: center;
    }
    .wrapper .main .main_service .main_work_with .nav_title{
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
    }
    .wrapper .main .main_service .main_work_with .nav_bottom_line{
        margin-top: 30px;
        text-align: center;
    }
    .wrapper .main .main_service .main_work_with .nav_bottom_line{
        margin-top: 30px;
        text-align: center;
    }
    .wrapper .main .main_service .main_service_text{
        width: 1200px;
        margin: auto;
        margin-top: 65px;
        display: flex;
        flex-flow: wrap;
        border-bottom: 3px solid #e5e5e5;
    }
    .wrapper .main .main_service .new_border{
        border-bottom: none;
    }
        .wrapper .main .main_service .main_service_text .main_services_tt{
            margin: auto;
            height: 150px;
            width: 350px;
            display: flex;       
        }
        .wrapper .main .main_service .main_service_text .main_services_tt img{
            width: 35px;
            height: 35px;
        }
        .wrapper .main .main_service .main_service_text .main_services_tt .all_service {
            margin-left: 25px;
            display: flex;
            flex-direction: column;
        }
        .wrapper .main .main_service .main_service_text .main_services_tt .all_service .services_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }
        .wrapper .main .main_service .main_service_text .main_services_tt .all_service .services_inner{
            margin-top: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            color: #999999;
        }
/* ############ Main - FEATURE ############# */
.wrapper .main .feature{
    background: url('/images/Background_tablet_phone.png');
    height: 850px;
}
    .wrapper .main .feature .main_feature{}
        .wrapper .main .feature .main_feature .nav_top{
            /* margin-top: 90px; */
            font-family: 'Kaushan Script', cursive;
            font-size: 24px;
            text-align: center;
        }
        .wrapper .main .feature .main_feature .nav_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
        }
        .wrapper .main .feature .main_feature .nav_bottom_line{
            margin-top: 30px;
            text-align: center;
        }
/* ############ Main - FOOTER ############# */