*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

/* Set default li */
li{
    font-size: 14px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
button{
    color: white;
}
div{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
p{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 100%;
}

.container{
    max-width: 1200px;
}

.wrapper .banner{
    background:url('../images/Bird_bg.png');
    background-size: 100vw 1000px;
}
    /* ############ HEADER - HEADER ############# */
    .wrapper .header{
        margin: auto;
    }
    .wrapper .header .header_top_taskbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
    }
    .wrapper .header .header_top_taskbar .header_taskbar{
        width: 600px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    .wrapper .header .header_top_taskbar .header_taskbar> li{
        text-align: center;
        line-height: 25px;
    }

    .wrapper .header .header_top_taskbar .header_taskbar .active{
        color: #fce38a;  
    }
    .wrapper .header .header_top_taskbar .header_taskbar .active::after{
        content: "";
        display: block;
        height: 3px;
        margin-top: 5px;
        background-image: url('../images/About_bottom.png');
    }
    .wrapper .header .header_top_taskbar .header_taskbar .hover_active:hover{
        color: #fce38a;  
    }
    .wrapper .header .header_top_taskbar .header_taskbar .hover_active:hover:after{
        content: "";
        display: block;
        height: 3px;
        margin-top: 5px;
        background-image: url('../images/About_bottom.png');
    }
    
    /*#######---NAV---########### */
    .wrapper .header .header_nav{
        margin-top: 120px;
        text-align: center;
    }
    .wrapper .header .header_nav .nav_top{
        font-family: 'Kaushan Script', cursive;
        font-size: 72px;
        color:white;
    }
    .wrapper .header .header_nav .nav_title{
        font-family: 'Montserrat', sans-serif;
        font-size: 150px;
        text-align: center;
        font-weight: bold;
        line-height: 140px;
        color:white;
    }
    .wrapper .header .header_nav .nav_bottom_line{
        margin-top: 40px;
    }
    .wrapper .header .header_nav .nav_buttom_button .nav_button{
        height: 40px;
        width: 160px;
        margin-top: 40px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        border: 3px solid white;
        transition: all .5s ease;
        background-color : transparent;
    }
    .wrapper .header .header_nav .nav_buttom_button .nav_button:hover{
        color: #001F3F;
        background-color: #fff;
    }
    /* ############ HEADER - FOOTER ############# */
    .wrapper .header .header_footer{
        margin-top: 160px;
        display: flex;
        justify-content: space-between;
        height: 143px;
    }

    .wrapper .header .header_footer .intro_progress img::after{
        content: '';
        background-image:url('../images/Rectangle 4 copy.png') ;
    }
    .wrapper .header .header_footer .footer_progress ul{
        display: flex;
        align-items: flex-end;
        padding-top: 20px;
        color:white;
    }
        .wrapper .header .header_footer .footer_progress .number_tag{
            font-size: 25px;
            font-weight: bold;
        }
        .wrapper .header .header_footer .footer_progress .name_tag{
            font-size: 18px;
            padding-bottom: 2px;
            padding-left: 5px;
        }
/* ############ Main - ABOUT US ############# */

.wrapper .main{
    
}   
    .wrapper .main .background2 .facts{
        height: 750px;
        margin: auto;
    }
        .wrapper .main .main_about_us .nav_top{
            margin-top: 90px;
            font-family: 'Kaushan Script', cursive;
            font-size: 24px;
            text-align: center;
        }
        .wrapper .main .main_about_us .nav_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
        }
        .wrapper .main .main_about_us .nav_bottom_line{
            margin-top: 30px;
            text-align: center;
        }
        .wrapper .main .main_about_us .nav_bottom_text{
            font-size: 15px;
            color: #999999;
            text-align: center;
            margin-top: 45px;
        }
.wrapper .main .main_about_us_image{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}   
    .wrapper .main .main_about_us_image .box_image{
        width: 380px;
        height: 250px;
        transition: 1s;
        position: relative;
        background-repeat: no-repeat;
    }
    .wrapper .main .main_about_us_image .box_image:hover{
        width: 384px;
        height: 254px;
        background: none;
        background-color: #95e1d3;
    }
    .wrapper .main .main_about_us_image .box_image1{
        background: url('../images/KEYBOARD.png');
    }
    .wrapper .main .main_about_us_image .box_image2{
        background: url('../images/Rectangle 6_desk.png');
    }
    .wrapper .main .main_about_us_image .box_image3{
        background: url('../images/Rectangle 6_desk_2.png');
    }
    
    .wrapper .main .main_about_us_image .image{
        width: 380px;
        height: 250px;
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -6px;
        left: -6px;
        opacity: 0;
    }
    .wrapper .main .main_about_us_image .image .text{
        color: white;
    }
    .wrapper .main .main_about_us_image .image1{
        background: url("../images/Background_orange.png");
        background-repeat: no-repeat;
    }
    .wrapper .main .main_about_us_image .image1{
        background: url("../images/Background_orange.png");
        background-repeat: no-repeat;
    }
    .wrapper .main .main_about_us_image .image2{
        background: url("../images/desk_orange.png");
        background-repeat: no-repeat;
    }
    .wrapper .main .main_about_us_image .image3{
        background: url("../images/Lab_convert.png");
        background-repeat: no-repeat;
    }
    .wrapper .main .main_about_us_image .image:hover{
        width: 388px;
        height: 258px;
        transition: 1s ease;
        opacity: 1;
    }
/* ############ Main - FACTS ############# */
.wrapper .main .main_facts{
    background: url('../images/background_full_size_number.png');
}
    .wrapper .main .main_facts .facts{
        margin: auto;
        display: flex;
        height: 270px;
    }
        .wrapper .main .main_facts .facts > li{
            width: 240px;
            border-left: 3px solid #b5eae0;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .wrapper .main .main_facts .facts > li:hover{
            transform: scale(1.2);
            border: none;
        }
        .wrapper .main .main_facts .facts .number{
            font-size: 72px;
            color: white;
            text-align: center;
            font-weight: bold;
        }
        .wrapper .main .main_facts .facts .texts{
            font-size: 14px;
            color: white;
            text-align: center;
        }
        .wrapper .main .main_facts .facts .last_box{
            border-right: 3px solid #b5eae0;
        }
/* ############ Main - SERVICE ############# */
.wrapper .main .main_service{
    height: 650px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .wrapper .main .main_service .main_work_with{
        padding-top: 90px;
    }
    .wrapper .main .main_service .main_work_with .nav_top{
        font-family: 'Kaushan Script';
        font-size: 24px;
        text-align: center;
    }
    .wrapper .main .main_service .main_work_with .nav_title{
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
    }
    .wrapper .main .main_service .main_work_with .nav_bottom_line{
        margin-top: 30px;
        text-align: center;
    }
    .wrapper .main .main_service .main_work_with .nav_bottom_line{
        margin-top: 30px;
        text-align: center;
    }
    .wrapper .main .main_service .main_service_text{
        margin-top: 65px;
        display: flex;
        border-bottom: 3px solid #e5e5e5;
    }
    .wrapper .main .main_service .new_border{
        border-bottom: none;
    }
        .wrapper .main .main_service .main_service_text .main_services_tt{
            padding: 10px;
            height: 150px;
            width: 350px;
            display: flex;       
        }
        .wrapper .main .main_service .main_service_text .main_services_tt img{
            width: 35px;
            height: 35px;
        }
        .wrapper .main .main_service .main_service_text .main_services_tt .all_service {
            margin-left: 25px;
            display: flex;
            flex-direction: column;
        }
        .wrapper .main .main_service .main_service_text .main_services_tt .all_service .services_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }
        .wrapper .main .main_service .main_service_text .main_services_tt .all_service .services_inner{
            margin-top: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            color: #999999;
        }
/* ############ Main - FEATURE ############# */
.wrapper .main .feature{
    background: url('../images/Background_tablet_phone.png');
    background-repeat: no-repeat;
    background-size:100vw 850px;
    height: 900px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .wrapper .main .feature .main_feature{
        padding-top: 40px;
    }
        .wrapper .main .feature .main_feature .nav_top{
            font-family: 'Kaushan Script', cursive;
            font-size: 24px;
            text-align: center;
        }
        .wrapper .main .feature .main_feature .nav_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
        }
        .wrapper .main .feature .main_feature .nav_bottom_line{
            margin-top: 30px;
            text-align: center;
        }
    .wrapper .main .feature .main_feature_image{
        padding-top: 50px;
        position: relative;
    }
    .wrapper .main .feature .main_feature_image .cellphone{
        position: absolute;
        top: 240px;
        right: -150px;
        height: 400px;
    }
    
/* ############ Main - SERVICES2 ############# */
.wrapper .main .main_service2{
    height: 850px;
}
.wrapper .main .main_service2 .main_what_we_do{
    padding-top: 40px;
}
    .wrapper .main .main_service2 .main_what_we_do .nav_top{
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
        text-align: center;
    }
        .wrapper .main .main_service2 .main_what_we_do .nav_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
        }
        .wrapper .main .main_service2 .main_what_we_do .nav_bottom_line{
            margin-top: 30px;
            text-align: center;
        }
        .wrapper .main .main_service2 .main_what_we_do .nav_bottom_text{
            font-size: 15px;
            color: #999999;
            text-align: center;
            margin-top: 45px;
        }
    .wrapper .main .main_service2 .main_service2_inner{
        padding-top: 90px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
        .wrapper .main .main_service2 .main_service2_inner .inner_text{
            height: 380px;
            width: 600px;
        }
            .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_text{
                height: 240px;
            }
            .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_no_text{
                height: 60px;
            }
            .wrapper .main .main_service2 .main_service2_inner .inner_text .slide_last{
                margin-top: 15px;
            }
            .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_text .box_slide_title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 2px solid #e5e5e5;
            }
                .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_text .box_slide_title > img{
                    height: 12px;
                    width: 32px;
                    padding-right: 10px;
                }
            .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_text .photography{
                height: 60px;
                display: flex;
                align-items: center;   
            }
                .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_text .photography > img{
                    padding-left: 10px;
                }
                .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_text .photography > a{
                    padding-left: 10px;
                }
            .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_text .text_info{
                margin: 10px;
                color: #999999;
            }
            .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_text .inner_slide_info{
                display: flex;
            }
            .wrapper .main .main_service2 .main_service2_inner .inner_text .box_slide_text .inner_slide_info > img{
                padding-top: 10px;
                padding-right: 15px;
            }
/* ############ Main - QUOTE ############# */
.wrapper .main .main_quote{
    background: url("../images/background_grey.png");
    height: 290px;
}
    .wrapper .main .main_quote .quote_content{
        margin: auto;
        height: 290px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .wrapper .main .main_quote .quote_content .arrow{
            width: 100px;
            height: 290px;
            display: flex;
        }
        .wrapper .main .main_quote .quote_content .arrow > img{
            margin: auto;
        }
        .wrapper .main .main_quote .quote_content .img_speech{
            border: 3px solid #95e1d3;
            width: 120px;
        }
        .wrapper .main .main_quote .quote_content .img_speech .border_img{
           height: 120px;
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .wrapper .main .main_quote .quote_content .quote_content_text{
            padding-left: 30px;
            width: 770px;
            font-family: 'Roboto', sans-serif;
            color:#999999;
            font-style: italic;
        }
        .wrapper .main .main_quote .quote_content .footer{
            display: flex;
            align-items: center;
        }
        .wrapper .main .main_quote .quote_content .footer > img{
            width: 45px;
            height: 3px;
        }
        .wrapper .main .main_quote .quote_content .footer .creator{
            font-family: 'Kaushan Script', cursive;
            font-style: normal;
            font-size: 24px;
            padding-left: 15px;
            color: black;
        }
/* ############ Main - Team ############# */
.wrapper .main .main_team{
    margin: auto;
    height: 1050px;
    padding-top: 90px;
}
.wrapper .main .main_team .main_who_we_are .nav_top{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
}
    .wrapper .main .main_team .main_who_we_are .nav_title{
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
    }
    .wrapper .main .main_team .main_who_we_are .nav_bottom_line{
        margin-top: 30px;
        text-align: center;
    }
    .wrapper .main .main_team .main_who_we_are .nav_bottom_text{
        font-size: 15px;
        color: #999999;
        text-align: center;
        margin-top: 45px;
    }
    /* ############ Main - ABOUT us ############# */
.wrapper .main .main_team .main_who_image{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
    .wrapper .main .main_team .main_who_image .box_image_team{
        width: 380px;
        height: 470px;
        transition: 1s;
        position: relative;
        background-repeat: no-repeat;
    }
    .wrapper .main .main_team .main_who_image .box_image_team:hover{
        width: 382px;
        height: 472px;
        background: none;
        background-color: #95e1d3;
    }

    .wrapper .main .main_team .main_who_image .box_image1{
        background: url('../images/Matthew_dix_raw.png');
    }
    .wrapper .main .main_team .main_who_image .box_image2{
        background: url('../images/christopher campbell.png');
    }
    .wrapper .main .main_team .main_who_image .box_image3{
        background: url('../images/Michael Firtic.png');
    }
    
    .wrapper .main .main_team .main_who_image .image{
        width: 380px;
        height: 470px;
        transition: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -6px;
        left: -6px;
        opacity: 0;
    }
    .wrapper .main .main_team .main_who_image .image :first-child{
       background: url('../images/facebook_pink.png'),#fce38a;
       background-repeat: no-repeat;
       background-position: 50%;
    }
    .wrapper .main .main_team .main_who_image .image :first-child:hover{
        background: url('../images/facebook_logo.png'),#f38181;
        background-repeat: no-repeat;
        background-position: 50%;
     }
    .wrapper .main .main_team .main_who_image .image :nth-child(2){
        background: url('../images/twitter_logo.png'),#fce38a;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .wrapper .main .main_team .main_who_image .image :nth-child(2):hover{
        background: url('../images/twitter_white.png'),#f38181;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .wrapper .main .main_team .main_who_image .image :nth-child(3){
        background: url('../images/pinterest_logo.png'),#fce38a;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .wrapper .main .main_team .main_who_image .image :nth-child(3):hover{
        background: url('../images/pinterest_white.png'),#f38181;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .wrapper .main .main_team .main_who_image .image :nth-child(4){
        background: url('../images/instagram_logo.png'),#fce38a;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .wrapper .main .main_team .main_who_image .image :nth-child(4):hover{
        background: url('../images/instagram_white.png'),#f38181;
        background-repeat: no-repeat;
        background-position: 50%;
    }
     
    .wrapper .main .main_team .main_who_image .image > div{
        width: 55px;
        height: 55px;
        background-color: #fce38a;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #f9bd87;
    }
    .wrapper .main .main_team .main_who_image .image1{
        background: url("../images/matthew dix.png");
        background-repeat: no-repeat;
        z-index: 1;
    }
    .wrapper .main .main_team .main_who_image .image2{
        background: url("../images/christopher_campbell_orange.png");
        background-repeat: no-repeat;
    }
    .wrapper .main .main_team .main_who_image .image3{
        background: url("../images/michael_fertig_orange.png");
        background-repeat: no-repeat;
    }
    .wrapper .main .main_team .main_who_image .image:hover{
        width: 388px;
        height: 478px;
        transition: 1s ease;
        opacity: 1;
    }
    /* ############ Main - LOGO ############# */
.wrapper .main .main_logo {
    background-color: #f8f8f8;
    height: 250px;
    display: flex;
    align-items: center;
}
    .wrapper .main .main_logo .all_companion{
        margin: auto;
    }
    /* ############ Main - WORK ############# */
.wrapper .main .main_work{

}
.wrapper .main .main_work .main_what_we_do{
    padding-top: 60px;
}
    .wrapper .main .main_work .main_what_we_do .nav_top{
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
        text-align: center;
    }
        .wrapper .main .main_work .main_what_we_do .nav_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
        }
        .wrapper .main .main_work .main_what_we_do .nav_bottom_line{
            margin-top: 30px;
            text-align: center;
        }
        .wrapper .main .main_work .main_what_we_do .nav_bottom_text{
            font-size: 15px;
            color: #999999;
            text-align: center;
            margin-top: 45px;
        }
.wrapper .main .main_work .main_work_image{
    max-height: 800px;
    padding-top: 80px;
    width: 100%;
    display: flex;
}
    .wrapper .main .main_work .main_work_image .image_half{
        width: 25%;
        display: flex;
        flex-direction: column;
    }
    
 /* ############ Main - TESTIMONIAL ############# */
.wrapper .main .main_testimonial{
    height: 300px;
}
    .wrapper .main .main_testimonial .quote_content{
        margin: auto;
        height: 290px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .wrapper .main .main_testimonial .quote_content .arrow{
            width: 100px;
            height: 290px;
            display: flex;
        }
        .wrapper .main .main_testimonial .quote_content .arrow > img{
            margin: auto;
        }
        .wrapper .main .main_testimonial .quote_content .img_speech{
            width: 120px;
        }
        .wrapper .main .main_testimonial .quote_content .img_speech .border_img{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .wrapper .main .main_testimonial .quote_content .img_speech .border_img img{
            height: 160px;
        }
        .wrapper .main .main_testimonial .quote_content .quote_content_text{
            padding-left: 30px;
            width: 770px;
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            color:#999999;
            font-style: italic;
        }
        .wrapper .main .main_testimonial .quote_content .footer{
            display: flex;
            align-items: center;
        }
        .wrapper .main .main_testimonial .quote_content .footer > img{
            width: 45px;
            height: 3px;
        }
        .wrapper .main .main_testimonial .quote_content .footer .creator{
            font-family: 'Kaushan Script', cursive;
            font-style: normal;
            font-size: 24px;
            padding-left: 15px;
            color: black;
        }
 /* ############ Main - PEOPLE SAY ############# */
.wrapper .main .main_people_say .background_moutain{
    position: absolute;
    opacity: 0.2;
}
    .wrapper .main .main_people_say .background_moutain img{
        width: 100vw;
        height: 850px;
    }
.wrapper .main .main_people_say{
    height: 850px;
    position: relative;
}
.wrapper .main .main_people_say .main_happy_client{
    padding-top: 80px;
}
    .wrapper .main .main_people_say .main_happy_client .nav_top{
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
        text-align: center;
    }
        .wrapper .main .main_people_say .main_happy_client .nav_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
        }
        .wrapper .main .main_people_say .main_happy_client .nav_bottom_line{
            margin-top: 30px;
            text-align: center;
        }
        .wrapper .main .main_people_say .main_happy_client .nav_bottom_text{
            font-size: 15px;
            color: #999999;
            text-align: center;
            margin-top: 45px;
        }
    .wrapper .main .main_people_say .main_info_client{
        padding-top: 100px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 600px;
    }
        .wrapper .main .main_people_say .box_client_info{
            display: flex;
            max-width: 550px;
            height: 200px;
        }
        .wrapper .main .main_people_say .box_client_info .client_info{
            display: flex;
            padding-left: 15px;
            flex-direction: column;
        }
        .wrapper .main .main_people_say .box_client_info .client_info :first-child{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            padding-bottom: 10px;
        }
        .wrapper .main .main_people_say .box_client_info .client_info :nth-child(2){
            font-size: 15px;
            font-style: italic;
            padding-bottom: 10px;
        }
        .wrapper .main .main_people_say .box_client_info .client_info :nth-child(3){
            padding-top: 10px;
        }
        .wrapper .main .main_people_say .box_client_info .client_info :nth-child(4){
            padding-top: 10px;
            font-size: 15px;
            color: #999999;
        }
 /* ############ Main - BLOG ############# */
 .wrapper .main .main_blog{
    height: 800px;
}
.wrapper .main .main_blog .main_stories{
    padding-top: 80px;
}
    .wrapper .main .main_blog .main_stories .nav_top{
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
        text-align: center;
    }
        .wrapper .main .main_blog .main_stories .nav_title{
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
        }
        .wrapper .main .main_blog .main_stories .nav_bottom_line{
            margin-top: 30px;
            text-align: center;
        }
.wrapper .main .main_blog .all_blog{
    padding-top: 80px;
}
    .wrapper .main .main_blog .all_blog .box_blog{
        max-height: 500px;
        max-width: 1200px;
        margin: auto;
    }
        .wrapper .main .main_blog .all_blog .box_blog .image_blog{
            position: relative;
        }
        .wrapper .main .main_blog .all_blog .box_blog .image_blog .date_tag{
            position: absolute;
            background-color: #95e1d3;
            width: 55px;
            height: 65px;
            top: 175px;
            left: -10px;
            text-align: center;
            line-height: 65px;
        }